include README.md
include CHANGELOG.md
include requirements.txt
include pyproject.toml
recursive-include autoskill *.py
recursive-include core *.py
recursive-include llm *.py
recursive-include integrations *.py
recursive-include config *.py
recursive-include templates *.py
recursive-include templates *.yaml
recursive-include utils *.py
recursive-include examples *.py
recursive-include core/model *.*
recursive-include core/model/all-MiniLM-L6-v2 *.*
recursive-include core/model/all-MiniLM-L6-v2/1_Pooling *.*
recursive-include core/model/all-MiniLM-L6-v2/2_Normalize *.*
global-exclude *.pyc
global-exclude __pycache__
global-exclude .pytest_cache
global-exclude *.egg-info
global-exclude venvs
global-exclude .env
global-exclude test_*.py
global-exclude langchain_demo.py
global-exclude test_environment.py